<svg width="{{ width }}" height="{{ height }}" viewBox="0 0 {{ width }} {{ height }}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <style>
        @font-face {
            font-family: 'Monopoly';
            src: url(data:font/woff2;base64,{{ font_b64 }}) format('woff2');
        }
        .card-title { font-family: 'sans-serif'; font-size: {{ title_size }}px; font-weight: bold; stroke: black; stroke-width: 1.5;  }
        .card-text-bold { font-family: 'sans-serif'; font-size: {{ font_size }}px; stroke: black; stroke-width: 1.5; }
        .card-text { font-family: 'sans-serif'; font-size: {{ font_size }}px; stroke: black; stroke-width: 1.0; }
        .card-text-small { font-family: 'sans-serif'; font-size: {{ font_size - 4 }}px; stroke: black; stroke-width: 1.0; }
    </style>

    <!-- 1. Äußerer Kartenrand -->
    <rect width="100%" height="100%" fill="white" stroke="black" stroke-width="0.5" stroke-dasharray="5, 5"/>
    
    <!-- 2. Innerer Rahmen -->
    <rect x="{{margin}}" y="{{margin}}" width="{{inner_width}}" height="{{inner_height}}" fill="none" stroke="black" stroke-width="1"/>
    
    <!-- 3. Schwebendes Farbfeld (mit Abstand zum Rahmen) -->
    <rect x="{{rect_x}}" y="{{rect_y}}" width="{{rect_w}}" height="{{header_h}}" fill="{{color}}" stroke="black" stroke-width="1.5"/>
    
    <!-- Titel -->
    <text x="50%" y="{{height * 0.12}}" text-anchor="middle" class="card-text-bold" fill="black">BESITZRECHTKARTE</text>
    <text x="50%" y="{{height * 0.175}}" text-anchor="middle" class="card-title" fill="black">{{title.upper()}}</text>
    
    <!-- Mietentabelle -->
    <g transform="translate({{width * 0.1}}, {{height * 0.33}})" class="card-text">
        <text x="0" y="0" class="card-text-small">
            <tspan x="0%" dy="0" text-anchor="left">Grundstückswert</tspan><tspan x="80%" dy="0" text-anchor="end">{{price}}€</tspan>
            <tspan x="0%" dy="1.4em" text-anchor="left">Miete Grundstück allein</tspan><tspan x="80%" dy="0" text-anchor="end">{{rents[0]}}€</tspan>
            <tspan x="0%" dy="1.4em" text-anchor="left">Mit 1 Haus</tspan><tspan x="80%" dy="0" text-anchor="end">{{rents[1]}}€</tspan>
            <tspan x="0%" dy="1.4em" text-anchor="left">Mit 2 Häusern</tspan><tspan x="80%" dy="0" text-anchor="end">{{rents[2]}}€</tspan>
            <tspan x="0%" dy="1.4em" text-anchor="left">Mit 3 Häusern</tspan><tspan x="80%" dy="0" text-anchor="end">{{rents[3]}}€</tspan>
            <tspan x="0%" dy="1.4em" text-anchor="left">Mit 4 Häusern</tspan><tspan x="80%" dy="0" text-anchor="end">{{rents[4]}}€</tspan>
            <tspan x="0%" dy="1.4em" text-anchor="left">Mit Hotel</tspan><tspan x="80%" dy="0" text-anchor="end">{{rents[5]}}€</tspan>
        </text>
        <line x1="0%" y1="{{height * 0.26}}" x2="84%" y2="{{height * 0.26}}" style="stroke:black;stroke-width:0.5"/>
        <text x="0" y="{{height * 0.30}}" class="card-text-small">
            <tspan x="40%" dy="0" text-anchor="middle" >Wenn ein Spieler alle Grundstücke einer</tspan>
            <tspan x="40%" dy="1.4em" text-anchor="middle">Farbengruppe besitzt, so ist die Miete auf</tspan>
            <tspan x="40%" dy="1.4em" text-anchor="middle" >den unbebauten Grundstücken dieser</tspan>
            <tspan x="40%" dy="1.4em" text-anchor="middle" >Farbgruppe doppelt so hoch.</tspan>
        </text>
        <line x1="0%" y1="{{height*0.44}}" x2="84%" y2="{{height*0.44}}" style="stroke:black;stroke-width:0.5"/>
        <!-- Unterer Bereich -->
        <text x="0" y="{{height * 0.49}}" class="card-text-small">
            <tspan x="0%" dy="0" text-anchor="left">1 Haus kostet</tspan><tspan x="80%" dy="0" text-anchor="end">{{rents[6]}}€</tspan>
            <tspan x="0%" dy="1.4em" text-anchor="left">1 Hotel kostet</tspan><tspan x="80%" dy="0" text-anchor="end">{{rents[7]}}€</tspan>
            <tspan x="80%" dy="1.4em" text-anchor="end">(plus 4 Häuser)</tspan>
        </text>
    </g>

</svg>